* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background-color: #ff8714;
  cursor: pointer;
  border: 1px solid black;
  padding: 4px;
}

button:hover {
  color: white;
}

.info-message {
  margin: 24px;
  font-style: italic;
}
.redirect {
  color: #ff8714;
  cursor: pointer;
}

.home-icon {
  height: 40px;
  cursor: pointer;
  margin-right: 4px;
}
